[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
werkzeug = "*"
python-multipart = "*"
flask-cors = "*"
boto3 = "*"
awsgi = "*"

[dev-packages]

[requires]
python_version = "3.11"
