* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pitch-Regular';
    background-color: #ECECEA;
  
  }
  
  .App {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    position: relative;
    background-color: #ECECEA;;
  }
  
  .camera {
    position: relative;
  }
  
  .result {
    position: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #ECECEA;;
    transition: 0.4s;
  }
  
  .result.hasPhoto {
    left: 0;
  }
  
  video {
    width: 100%;
    max-width: 100%;
    height: auto
  }
  
  button.snap {
      position: relative;
      display: block;
      /* bottom: 20px;
      left: 20px; */
  
      appearance: none;
      border: none;
      outline: none;
      flex: none;

      padding: 8px 16px;
      /* background-image: linear-gradient(to right, #844FFF 50%, #F44F84 50%); */
      background-color: #94493F ;
      border-radius: 5px;
      background-position: 0%;
      background-size: 100%;
      color: #FFF;
      font-size: 24px;
      font-weight: 700;
      transition: 0.4s;
      cursor: pointer;
  }

  .button-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Align items vertically, can be removed if not needed */
    flex-direction: row; /* Align items in a row */
    gap: 10px; /* Optional: adds space between buttons */
    margin-top: 20px;
  }
  
  button.snap:hover {
      background-position: 100%;
  
  }

  /* Apply the flex container only when a photo is present */
.result.hasPhoto .buttons-container {
  display: flex;
}

  canvas {
      width: 100%;
      height: auto;
  }

  h2 {
    text-align: center;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
  }

  .intermediate-page {
    display: grid;
    place-items: center; /* Center content */
    height: 100vh; /* Full viewport height */
    text-align: center; /* Center text */
  }
  
  .loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #94493F; /* Refiverd Red */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }