
.header{
  background-color: #3B412E;
  display: grid;
  grid-template-columns: 20% 55% 25%;
  padding: 10px;
  color: #ffffff;
}

.left {
  text-align: right;
  padding-left: 5%;
  background-color: #3B412E;
}
  
.middle {
  text-align: center;
  padding-left: 45%;
  padding-right: 45%; 
  background-color: #3B412E;
}
  
.logo {
  border-radius: 50%;
  color: #94493F;
  font-family: 'Pitch-Regular';
  background-color: #ECECEA;
  padding: 5px, 2px, 2px, 5px;
}

.right {
  text-align: right;
  padding-right: 1%;
  background-color: #3B412E;
}

.signoutbutton {
  background-color: #3B412E;
  color: #ffffff;
  font-family: 'Pitch-Regular';
  font-size: small;
  border-style: none;
  text-align: right;
}
  
