@font-face {
  font-family: "Pitch-Regular";
  src: url("https://db.onlinewebfonts.com/t/369c277b77f7dd78a7385446bc047a18.eot");
  src: url("https://db.onlinewebfonts.com/t/369c277b77f7dd78a7385446bc047a18.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/369c277b77f7dd78a7385446bc047a18.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/369c277b77f7dd78a7385446bc047a18.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/369c277b77f7dd78a7385446bc047a18.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/369c277b77f7dd78a7385446bc047a18.svg#Pitch-Regular")format("svg");
}

@font-face {
  font-family: "Inter";
  src: url("https://db.onlinewebfonts.com/t/1130e1ae4e4a76c7118c0b35c4b9d019.eot");
  src: url("https://db.onlinewebfonts.com/t/1130e1ae4e4a76c7118c0b35c4b9d019.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/1130e1ae4e4a76c7118c0b35c4b9d019.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/1130e1ae4e4a76c7118c0b35c4b9d019.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/1130e1ae4e4a76c7118c0b35c4b9d019.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/1130e1ae4e4a76c7118c0b35c4b9d019.svg#Inter")format("svg");
}

.button-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Align items vertically, can be removed if not needed */
  flex-direction: row; /* Align items in a row */
  gap: 10px; /* Optional: adds space between buttons */
}

.button {
  background-color: #94493F;
  border-radius: 5px;
  padding: 5px;
  font-family: 'Pitch-Regular';
  color: white;
  border-style: inherit;
  text-align: center;
  display: block;
  margin: auto;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #592B26;
}

.button:disabled {
  background-color: #CAA5A0;
  color: #ecf0f1;
  cursor: not-allowed;
}


.fabric-list {
  font-family: 'Inter', sans-serif;
  padding-left: 10%;
  padding-right: 10%;
}

.success {
  padding-left: 10%;
  padding-right: 10%;
}

h1 {
  text-align: center;
  margin: 2px;
}

h4 {
  text-align: center;
}

.edit-container {
  max-width: 90%;
  margin: 0 auto;
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between; 
}

.edit-container label {
  flex: 1 1 60%; /* Allocate 60% of the space to labels */
  margin-right: 10px; /* Adds some spacing between the label and the input */
}

.edit-container input {
  flex: 1 1 40%; /* Allocate 40% of the space to inputs */
  border-radius: 5px;;
  border-style: solid;
  border-color: #592B26;
  border-width: 1px;
  margin-bottom: 2px; /* Spacing between inputs */
  padding: 3px;
  width: 30%; /* Full width of the parent container 50% 10px*/
  box-sizing: border-box;
}
